name: hoito alkaa
on: workflow_dispatch
jobs:
  jun-d-kuppi:
    environment: FF2
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.4'
      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v4
        with: 
          path: "nahdyt_ottelut_requirements.txt"
      - name: Execute Python script
        env:
          HOT_PW: ${{ secrets.HOT_PW }}
        run: python nahdyt_ottelut.py
